<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyTestExt.ConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MyTestExt.ConsoleApp.Properties.Settings>
      <setting name="MyTestExt_ConsoleApp_cn_org_zhongdengwang_ws_LoginService_WSLoginServiceService" serializeAs="String">
        <value>https://ws.zhongdengwang.org.cn/mfrs_ws_test/services/LoginService</value>
      </setting>
      <setting name="MyTestExt_ConsoleApp_cn_org_zhongdengwang_ws_InitRegisterService_WSInitRegisterServiceService" serializeAs="String">
        <value>https://ws.zhongdengwang.org.cn/mfrs_ws_test/services/InitRegisterService</value>
      </setting>
      <setting name="MyTestExt_ConsoleApp_cn_org_zhongdengwang_wsquery_QueryBySubject_WSQueryBySubjectServiceService" serializeAs="String">
        <value>https://wsquery.zhongdengwang.org.cn/mfrsq_ws_test/services/queryBySubject</value>
      </setting>
      <setting name="MyTestExt_ConsoleApp_cn_org_zhongdengwang_wsquery_Login_WSLoginServiceService" serializeAs="String">
        <value>https://wsquery.zhongdengwang.org.cn/mfrsq_ws_test/services/login</value>
      </setting>
      <setting name="MyTestExt_ConsoleApp_cn_org_zhongdengwang_wsquery_QueryDownLoadFileByNum_WSDownLoadFileByNumServiceService" serializeAs="String">
        <value>https://wsquery.zhongdengwang.org.cn/mfrsq_ws_test/services/queryDownLoadFileByNum</value>
      </setting>
    </MyTestExt.ConsoleApp.Properties.Settings>
  </applicationSettings>
</configuration>
